{% load static %}
<div class="block_carusel">
				<h1 class="title_of_carusel">Последние товары</h1>
				<div class="field_of_carusel">

					<!-- это карусель если компа -->

		    		<!-- немного говнокода -->

					<div class="multiple_items_xl">
						{% for item in items %}
							{% if item.is_second_carusel %}
							<a href="{{ item.get_absolute_url }}">
								<div class="carusel_item">
									<div class="carusel_items_field">
										{% if item.image %}
											<div class="carusel_items_photo">
												<img src="{{item.image.url}}" alt="" class="carusel_items_photo">
											</div>
										{% else %}
											<div class="carusel_items_photo">
												<img src="" alt="фото вышло гулять" class="carusel_items_photo">
											</div>
										{% endif %}
										<div class="carusel_item_desc">
											<div class="carusel_item_desc_left">
												<h1 class="carusel_item_desc_title">
													{{ item.title }} 
												</h1>
												<p class="carusel_item_desc_category">
													{{ item.desc }}
												</p>
											</div>
											<div class="carusel_item_desc_right">
												<p class="carusel_item_desc_price">{{item.curent_sale}} грн</p>
											</div>
										</div>
									</div>
								</div>
							</a>
							{% endif %}
		    			{% endfor %}
		    			
		    		</div>

		    		<!-- конец карусели для компа -->




		    		<!-- это карусель если планшет -->

		    		<!-- немного говнокода -->

		    		<div class="multiple_items_md">
		    			{% for item in items %}
							{% if item.is_second_carusel %}
							<a href="">
								<div class="carusel_item">
									<div class="carusel_items_field">
										{% if item.image %}
											<div class="carusel_items_photo">
												<img src="{{item.image.url}}" alt="" class="carusel_items_photo">
											</div>
										{% else %}
											<div class="carusel_items_photo">
												<img src="" alt="фото вышло гулять" class="carusel_items_photo">
											</div>
										{% endif %}
										<div class="carusel_item_desc">
											<div class="carusel_item_desc_left">
												<h1 class="carusel_item_desc_title">
													{{ item.title }} 
												</h1>
												<p class="carusel_item_desc_category">
													{{ item.desc }}
												</p>
											</div>
											<div class="carusel_item_desc_right">
												<p class="carusel_item_desc_price">{{item.curent_sale}} грн</p>
											</div>
										</div>
									</div>
								</div>
							</a>
							{% endif %}
		    			{% endfor %}
		    		</div>

		    		<!-- конец карусели для планшета -->

		    		<!-- это карусель если телефон -->

		    		<!-- немного говнокода -->

		    		<div class="multiple_items_sm">
		    			{% for item in items %}
							{% if item.is_second_carusel %}
							<a href="">
								<div class="carusel_item">
									<div class="carusel_items_field">
										{% if item.image %}
											<div class="carusel_items_photo">
												<img src="{{item.image.url}}" alt="" class="carusel_items_photo">
											</div>
										{% else %}
											<div class="carusel_items_photo">
												<img src="" alt="фото вышло гулять" class="carusel_items_photo">
											</div>
										{% endif %}
										<div class="carusel_item_desc">
											<div class="carusel_item_desc_left">
												<h1 class="carusel_item_desc_title">
													{{ item.title }} 
												</h1>
												<p class="carusel_item_desc_category">
													{{ item.desc }}
												</p>
											</div>
											<div class="carusel_item_desc_right">
												<p class="carusel_item_desc_price">{{item.curent_sale}} грн</p>
											</div>
										</div>
									</div>
								</div>
							</a>
							{% endif %}
		    			{% endfor %}
		    		</div>

		    		<!-- конец карусели для телефон -->

				</div>	
			</div>

			<!-- конец карусели -->