{% load static %}
<!-- блок с отступом до карусели -->

	<!-- мне стыдно за него -->

	<div class="mrgin_100"></div>

	<!-- конец блока с отступом до карусели -->


	<!-- блок футера -->

	<div class="block_footer">
		<div class="display_center">
			<div class="page_contant">	
				<div class="display_flex_between">
					<div class="footer_menu_block_nav">
						<div class="footer_menu_block">
							<h1 class="footer_menu_block">Помощь</h1>
							<a href=""><p class="footer_menu_block ">Условия заказа</p></a>
							<a href=""><p class="footer_menu_block ">Доставка</p></a>
							<a href=""><p class="footer_menu_block ">Оплата</p></a>
						</div>
						<div class="footer_menu_block">
							<h1 class="footer_menu_block">Про нас</h1>
							<a href=""><p class="footer_menu_block ">Новости</p></a>
							<a href=""><p class="footer_menu_block ">Предложения</p></a>
							<a href=""><p class="footer_menu_block ">Обратная связь</p></a>
						</div>
					</div>
					<div class="footer_social_media">
						<a href="">
							<img src="{% static 'images/footer/tabler_brand-instagram.svg' %}" alt="" class="svg_icon">
						</a>
						<a href="">
							<img src="{% static 'images/footer/tabler_brand-telegram.svg' %}" alt="" class="svg_icon">
						</a>
						<a href="">
							<img src="{% static 'images/footer/tabler_brand-facebook.svg' %}" alt="" class="svg_icon">
						</a>
						
					</div>
				</div>
			</div>
		</div>	
	</div>	

	<!-- конец футера -->