{% load static %}

<div class="">

    <div class="item_page">
       <img src="{{item.image.url}}" alt="" class="curent_items_photo"> 
       <div class="item_info">
            <h1 class="item_info">{{item.title}}</h1>
            <p class="item_info_title">Описание</p>
            <p class="item_info">{{item.desc}}</p>
            <p class="item_info_price">Цена: {{item.curent_sale}} грн</p>
            <div class="">
                {% if new_sale %}
                    <h2>Your item has been added.</h2>
                {% else %}
                    
                    <form action="/catalog/{{item}}" method="post" class="form_item">
                        {{ sale_form.as_p }}
                        {% csrf_token %}
                        <p><input type="submit" value="купить" class="item_button_buy"></p>
                    </form>
                {% endif %}

            </div>

            
       
    



</div>
    </div>



    

    

</div>





