{% load static %}
<!-- блок с меню -->
			<div class="block_of_menu_for_xl_and_md">
				<div class="block_of_menu">
				
					<div class="menu_block">
						<div class="menu_block_contant">
								<div class="menu_block_contant_title">
									Каталог
								</div>

								<hr class="line_of_menu">

								<a href="">
									<div class="menu_block_contant_menu_element">
										<img src="{% static 'images/menu/tabler_phone.svg' %}" alt="" class="svg_icon">

										<p class="menu_block_contant_menu_element">
											Телефоны и аксессуары
										</p>
										
									</div>
								</a>

								<a href="">
									<div class="menu_block_contant_menu_element">
										<img src="{% static 'images/menu/tabler_device-laptop.svg' %}" alt="" class="svg_icon">
										<p class="menu_block_contant_menu_element">
											Компьютеры и оргтехника
										</p>
										
									</div>
								</a>

								<a href="">
									<div class="menu_block_contant_menu_element">
										<img src="{% static 'images/menu/tabler_scooter-electric.svg' %}" alt="" class="svg_icon">
										<p class="menu_block_contant_menu_element">
											Электроника
										</p>
										
									</div>
								</a>

								<a href="">
									<div class="menu_block_contant_menu_element">
										<img src="{% static 'images/menu/tabler_device-tv.svg' %}" alt="" class="svg_icon">
										<p class="menu_block_contant_menu_element">
											Бытовая техника
										</p>
										
									</div>
								</a>

								<a href="">
									<div class="menu_block_contant_menu_element">
										<img src="{% static 'images/menu/tabler_hanger.svg' %}" alt="" class="svg_icon">
										<p class="menu_block_contant_menu_element">
											Одежда
										</p>
										
									</div>
								</a>

								<div style="margin-top: 45px;"></div>
						</div>
					</div>
					<div class="main_item_of_menu">
						<div class="main_item_of_menu_left">
							<h1 class="main_item_of_menu_left_title">
								Xiaomi Mi Powerbank 2
							</h1>
							<p class="main_item_of_menu_left_desc">
								Второе поколение Xiaomi Mi Powerbank имеет емкость 10000 мАч, а скорость зарядки заметно возросла. Классическое оформление и минималистский дизайн все так же хорошо подчеркивают уникальный стиль, а небольшой вес устройства позволит взять его на и работу и в путешествие.

							</p>
							<div class="main_item_of_menu_left_bottom_nav">
								<p class="main_item_of_menu_left_bottom_nav_price">
									350 грн
								</p>

								<a href="">
									<p class="main_item_of_menu_left_bottom_nav_button">
										Купить сейчас
									</p>
								</a>
							</div>
						</div>
						<div class="main_item_of_menu_right">
							<img src="{% static 'images/item.png' %}" alt="item" class="main_item_of_menu_right">
						</div>
					</div>
				</div>
			</div>

				<div class="block_of_menu_for_sm">
					<div class="block_of_menu">
						<div class="main_item_of_menu">
							<div class="main_item_of_menu_right">
								<img src="{% static 'images/item.png' %}" alt="item" class="main_item_of_menu_right">
							</div>
							<div class="main_item_of_menu_left">
								<h1 class="main_item_of_menu_left_title">
									Xiaomi Mi Powerbank 2
								</h1>
								<p class="main_item_of_menu_left_desc">
									Второе поколение Xiaomi Mi Powerbank имеет емкость 10000 мАч, а скорость зарядки заметно возросла. Классическое оформление и минималистский дизайн все так же хорошо подчеркивают уникальный стиль, а небольшой вес устройства позволит взять его на и работу и в путешествие.

								</p>
								<div class="main_item_of_menu_left_bottom_nav">
									<p class="main_item_of_menu_left_bottom_nav_price">
										350 грн
									</p>

									<a href="">
										<p class="main_item_of_menu_left_bottom_nav_button">
											Купить сейчас
										</p>
									</a>
								</div>
							</div>
							
						</div>

					</div>
				</div>

			<!-- конец блока с меню -->