/* тут у нас все что касается основных настроечек страницы */


h1, p, body, input{
	margin: 0;
	padding: 0;
}

a{
	text-decoration: none;
	margin: 0;
}


div.page_contant{
	width: 1110px;
}

div.display_center{
	display: flex;
	justify-content: center;
	align-items: center;
}

div.display_flex_between{
	display: flex;
	justify-content: space-between;
}



.svg_icon{
	height: 24px;
	width: 24px;
}

/* header */

div.block_header{
	margin-top: 16px;


	display: flex;
	justify-content: space-between;
	align-items: center;


	margin-bottom: 32px;
}

/* end header */

/* block menu */

div.block_of_menu_for_xl_and_md{
	display: block;
}

div.block_of_menu_for_sm{
	display: none;
}


div.block_of_menu{
	display: flex;
	justify-content: space-between;
}

div.menu_block{
	width: 350px;
	background-color: #3A3A3A;

	border-radius: 32px;

	display: block;
}

div.menu_block_contant{
	width: 302px;
	padding: 24px;
}


/* end menu block */


.mrgin_100{
	margin-top: 100px;
}

/* footer */


div.main_item_of_menu{
	

	height: 372px;
	width: 730px;

	background-color: #E4EAF2;
	border-radius: 32px;

	display: flex;

}


div.block_footer{
	height: 246px;
	width: 100%;
	background: #3A3A3A;
	border-radius: 32px 32px 0px 0px;
}

/* end footer */




.itemitem{
	display: none;
}


a, a:visited {
    color: #33739E;
    text-decoration: none;
    display: block;
    margin: 0 0;
}
a:hover {
    text-decoration: none;
}
#loadMore {
    padding: 10px;
    text-align: center;
	width: 300px;
	height: 30px !important;

	display: flex;
	justify-content: center;
	align-items: center;

    color: #232323;
    border-width: 1px;
    border-style: solid;
    border-color: #232323;
    box-shadow: 0 1px 1px #ccc;
    transition: all 600ms ease-in-out;
    -webkit-transition: all 600ms ease-in-out;
    -moz-transition: all 600ms ease-in-out;
    -o-transition: all 600ms ease-in-out;
}
#loadMore:hover {
    background-color: #33739E;
    color: #fff;
}



div.item_page{
	display: flex;
}

img.curent_items_photo{
	height: 320px;
	width: 320px;
	border-radius: 16px;
}


div.item_info{
	margin-left: 32px;
	background-color: #e5e5e5;
	width: calc(100% - 352px);
	border-radius: 16px;
	position: relative;
}

h1.item_info{
	margin: 16px;
	font-size: 34px;
	color: #232323;
	width: calc(100% - 32px);

}

p.item_info_title{
	margin-left: 16px;
	font-size: 16px;
	color: #232323;
	width: calc(100% - 32px);
}

p.item_info{
	margin-left: 16px;
	margin-top: 8px;
	font-size: 16px;
	color: #a1a1a1;
	width: calc(100% - 32px);
}

p.item_info_price{
	position: absolute;
	bottom: 16px;
	right: 16px;
	font-weight: 700;
	font-size: 34px;
	color: #232323;

	position: absolute;
	bottom: 64px;
	left: 16px;
}




form.form_item{
	display: flex;
	justify-content: space-between;
	align-items: center;

	position: absolute;
	bottom: 16px;
	right: 16px;

	width: calc(100% - 32px);
}

input.item_button_buy{
	height: 40px;
	width: 150px;
	border: none;
	background-color: #F2B705;
	border-radius: 16px;
	color: #E4EAF2;
	cursor: pointer;
}


div.login_page{
	height: 100vh;
	width: 100vw;

	display: flex;
	align-items: center;
	justify-content: center;
}

input.login_button{
	width: 100%;
	height: 40px;

	border: #232323 1px solid;
	color: #232323;
	background-color: #fff;
	border-radius: 4px;

	cursor: pointer;
	margin-top: 16px;

	transition: .3s;
}

input.login_button:hover{
	border: #232323 1px solid;
	color: #e5e5e5;
	background-color: #232323;
}

table.auth_table{
	color: #232323;
}

td.input_data > input{
	width: 250px;
	height: 24px;
}




div.sale_field{
	height: 150px;
	width: 100%;

	background-color: #e5e5e5;
	margin-top: 8px;
	display: flex;
	border-radius: 16px;
}

div.sale_field_left{
	width: 150px;
	height: 150px;
}

img.sale_field_left{
	width: 120px;
	height: 120px;
	margin: 15px;
}

div.sale_field_about{
	margin-left: 32px;
	width: 280px;
	margin-right: 32px;
}

div.sale_field_vender{
	width: 280px;
}

div.sale_field_final_price{
	margin-left: 32px;
	width: 280px;

	display: flex;
	justify-content: flex-end;
	align-items: center;
}

div.sale_field_about_field{
	display: flex;
	justify-content: space-around;
	margin-top: 16px;
	color: #969696;

}
h1.sale_field_about{
	margin-top: 16px;
	text-align: center;
	color: #232323;
}

h1.sale_field_vender{
	margin-top: 16px;
	text-align: center;
	color: #232323;
}

p.sale_field_vender{
	text-align: center;
	margin-top: 16px;
	color: #969696;
}

div.sign_in_text{
	height: 80vh;
	width: 100%;

	display: flex;
	justify-content: center;
	align-items: center;
}