{% extends "layout.html" %}

{% block main_block %}

{% if form.errors %}
  <p>Your username and password didn't match. Please try again.</p>
{% endif %}

{% if next %}
  {% if user.is_authenticated %}
    <p>Your account doesn't have access to this page. To proceed,
    please login with an account that has access.</p>
  {% else %}
    <p>Please login to see this page.</p>
  {% endif %}
{% endif %}


<div class="login_page">

  <form method="post" action="{% url 'login' %}">
    {% csrf_token %}
    <table class="auth_table">
      <tr>
        <td>{{ form.username.label_tag }}</td>
      </tr>
      <tr>
        <td class="input_data">{{ form.username }}</td>
      </tr>


      <tr>
        <td>{{ form.password.label_tag }}</td>
      </tr>
      <tr>
        <td class="input_data">{{ form.password }}</td>
      </tr>
    </table>

    <input type="submit" value="login" class="login_button">
    <input type="hidden" name="next" value="{{ next }}">
  </form>
</div>


{% endblock %}